body{
  background-color: #eee;
}

.header {
  /* border: 2px solid red; */
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 35%;
  background-image: url(/imagens/overlay.png), url(/imagens/bg.jpg);
  background-position: left top;
    background-size: auto, cover;
}

#img-header{
  width: 220px;
  border-radius: 50%;
  margin: 30px 220px;
}

.header-title {
  /* border: 2px solid red; */
  font-size: 24px;
  padding-right: 40px;
  text-align: right;
  color: rgba(255, 255, 255, .5);
  font-size: 25px;
}

#header-endereco{
  /* border: 2px solid purple; */
  text-align: right;
  margin-right: 40px;
  color: rgba(255, 255, 255, .5);
  font-size: 17px;

}

.icons-header{
  box-sizing:border-box;
  position: absolute;
  top: 500px;
  align-items: center;
  
}


.header-main {
  border: 2px solid blue;
  box-sizing: border-box;
  width: 65%;
  margin-left: 35%;
}

.main-title {
  border: 2px solid rgb(52, 52, 158);
  margin-left: 35%;
}

.main-content {
  border: 2px solid burlywood;
  margin-left: 35%;
}

.main-footer{
  border: 2px solid green;
  margin-left: 35%;
}

/* .contato-footer{
  border: 3px solid orange;
  margin-left: 35%;

} */