/* CONTEÚDO  HEADER*/

body {
  background-color: #eee;
  color: #666;
}

p {
  /* border: 2px solid yellow; */
  font-size: 18px;
}
header {
  /* border: 2px solid red; */
  box-sizing: border-box;
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  height: 100%;
  width: 35%;
  background-image: url(/imagens/overlay.png), url(/imagens/bg.jpg);
  background-position: left top;
  background-size: auto, cover;
}

#img-header {
  width: 200px;
  border-radius: 50%;
  margin: 30px 220px;
}

.header-title {
  /* border: 2px solid red; */
  font-size: 24px;
  padding-right: 40px;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
}

#header-address {
  /* border: 2px solid purple; */
  text-align: right;
  margin-right: 40px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 17px;
}

/* CONTEÚDO MAIN */

main {
  /* border: 2px solid blue; */
  box-sizing: border-box;
  width: 65%;
  margin-left: 35%;
  padding: 40px 54px 30px;
}

.title-effect {
  /* border: 2px solid red; */
  color: #787878;
  font-weight: normal;
  font-size: 28px;
}

.title {
  /* border: 2px solid rgb(52, 52, 158); */
  margin-top: 50px;
  font-size: 23px;
  font-weight: bold;
}

ul {
  /* border: 2px solid red; */
  color: #7080fc;
  display: inline-block;
  margin-left: 22px;
  font-size: 18px;
}
.main-button{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #a1b0b4 0,
    #606168 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.main-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.main-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.main-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#button-link{
  color: #eee;
  text-decoration: none;
}
/* FOOTER  */

.main-footer {
  border: 2px solid red;
  position: fixed;
  bottom: 0px;
  border: 0;
  width: 35%;
  left: 0;
  padding: 0 54px 72px 0;
  box-sizing: border-box;
  text-align: right;
}

.main-footer .lista-icons, #link-icons {
  /* border: 2px solid green; */
  color: #666;
  /* border: none; */
  padding: 3px;
  font-size: 27px;
  display: inline-block;
  font-size: 27px;
  margin: 4px;
}

