body{
  padding: 0;
  margin: 0;
}

.header{
  border: 2px solid red;
}

.header-title{
  border: 2px solid red;
}

.header-main{
  border: 2px solid blue;
}

.main-title{
  border: 2px solid blue;
}

.main-content{
  border: 2px solid burlywood;
}