body{
    background-color: #ebe7e3;
}


#nome-main{
    font-family:'Times New Roman', Times, serif
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#lista-competencias{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}